---
import { education } from '../data/education';
import EducationItem from '../components/EducationItem.astro';
---

<!-- Sección de Formación -->
<section id="educacion" class="relative py-16 bg-transparent dark:bg-gray-900 font-poppins overflow-hidden">
  <!-- Fondo decorativo -->
  <div class="absolute inset-x-0 -top-48 -z-10 transform-gpu blur-3xl sm:-top-96" aria-hidden="true">
    <div class="relative left-1/2 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg]
                bg-gradient-to-tr from-[#cbfbf1] to-[#009689] dark:from-[#1f3a44] dark:to-[#2dd4bf] opacity-20
                sm:w-[72.1875rem]"
         style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 
                                 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 
                                 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 
                                 74.1% 44.1%)">
    </div>
  </div>

  <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
    <h2 class="text-4xl md:text-5xl text-center py-16 font-bold animate-slide-in" style="color: var(--accent-color);">
      Formación
    </h2>
    <ol class="sm:flex items-start gap-6">
      {education.map((item, index) => (
        <EducationItem 
          title={item.title} 
          date={item.date} 
          certification={item.certification} 
          institution={item.institution} 
          description={item.description} 
          index={index} 
        />
      ))}
    </ol>
  </div>
</section>

